.navbar {
  height: 80px;
  background: linear-gradient(30deg, dodgerblue, violet);
  color: #fff;
  padding: 0 10%;
  display: flex;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 750px) {
  .navbar {
    padding: 0 20px;
    gap: 20px;
  }
  .navbar h2 {
    font-size: 20px;
  }
  .navbar a {
    font-size: 14px;
  }
}
@media screen and (max-width: 420px) {
  .navbar {
    flex-wrap: wrap !important;
    justify-content: center;
  }
}
.navbar a {
  color: #fff;
  text-decoration: none;
}
.navbar a.active {
  color: crimson;
}
.navbar a sup {
  background: crimson;
  color: #fff;
  padding: 1px 3px;
  min-width: 16px;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
  font-size: 11px;
}
